<div class="flex-basis-none flex-grow-1 overflow patientSejourAllergies">
    <div class="allergies-liste-ctn">
        <div class="allergie-regroup" *ngFor="let category of listCategories">
            <p>{{category.categoryName}}</p>
            <app-element-from-list *ngFor="let element of category.elements" [element]="element"></app-element-from-list>
        </div>
    </div>
</div>

<div  class="pokeCtn"
infinite-scroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="50"
[scrollWindow]="false"
(scrolled)="onScrollDown()"
 *ngIf="dataLoaded">
        <app-pokemon-detail  *ngFor="let pokemmon of numberPkmn; let i = index;" [index]="i"></app-pokemon-detail>
</div>