<div class="flex-basis-none flex-grow-1 overflow patientSejourAllergies">
    <div class="allergies-liste-ctn">
        <div class="allergie-regroup" *ngFor="let category of listCategories">
            <p>{{category.categoryName}}</p>
            <app-element-from-list *ngFor="let element of category.elements" [element]="element"></app-element-from-list>
        </div>
    </div>
</div>
<ul class="list-group hidden">
        <li 
            *ngFor="let pokemon of listPokemon.results"
            class="list-group-item">
            {{ pokemon.name }}
        </li>
</ul>

<div *ngFor="let pokemon of listPokemon.results; let i = index;">
        <app-pokemon-detail [index]="i"></app-pokemon-detail>
</div>