<footer>
    <a href="http://www.cegi.fr" name="" target="_blank" title="Accès au site internet du groupe CEGI"><img alt="Logo du Groupe CEGI" src="/Web.Mvc.PlanDeSoins/Content/images/logos/groupe_cegi_174x34.png"></a>
    <div class="flex-row flex-align-items-center fl-right fill-height">
        <div class="next-ping-reachable-component bg-success no-display" data-ping-url="/Web.Mvc.PlanDeSoins/PA/1/1000000177/2792/Home/IsReachable" data-ping-interval="15000" data-ping-warning="100" data-ping-error="500" data-ping-debug="false" title="Temps de réponse" style="margin-right:5px;font-size:70%; padding:4px; user-select:none">22 ms</div>
        <div style="margin-right:5px;font-size:80%;color:dimgrey">© CEGI 2015-2022 - [9] - Version 2022.2.8222.25522.Debug</div>
            <div class="bg-danger" style="margin-right:5px;font-size:70%; padding:4px; user-select:none" title="Protocole non sécurisé">HTTP</div>
    </div>
</footer>