.input-popin-ctn {
    display: flex;
    justify-content: center;
    align-items: center;

    app-dropdown {
        width: calc(100% - 33px); 
    }

    button {
        height: 33.66px;
        width: 33.66px;
    }
}