<div class="blackback">
    <div class="popin">
        <header>
            <h1>Nombre de repas</h1>
            <div>
                Annuler
            </div>
        </header>
        <main>
            <h1></h1>
            <div class="clavierTactileSimple">
                <div class="line row1">
                    <p class="saisieType">Saisie tactile</p>
                </div>
                <div class="line row2">
                    <button class="buttonPrimary btn-primary check">7</button>
                    <button class="buttonPrimary btn-primary check">8</button>
                    <button class="buttonPrimary btn-primary check">9</button>
                </div>
                <div class="line row3">
                    <button class="buttonPrimary btn-primary check">4</button>
                    <button class="buttonPrimary btn-primary check">5</button>
                    <button class="buttonPrimary btn-primary check">6</button>
                </div>
                <div class="line row4">
                    <button class="buttonPrimary btn-primary check">1</button>
                    <button class="buttonPrimary btn-primary check">2</button>
                    <button class="buttonPrimary btn-primary check">3</button>
                </div>
                <div class="line row5">
                    <button class="buttonPrimary btn-primary disabled" disabled="disabled">,</button>
                    <button class="buttonPrimary btn-primary check">0</button>
                    <button class="buttonPrimary btn-primary disabled" disabled="disabled"></button>
                </div>
            </div>
        </main>
        <footer>
            <div></div>
            <div>
                Valider
            </div>
        </footer>
    </div>
</div>