<div class="app-name">
    <div id="app-name-menu" style="display: block;"></div>
    <div class="app-name-header">
        <div class="icon icon-portal">
            <a data-menu-action="/Web.Mvc.PlanDeSoins/PA/1/Contexte/GetServeurContextePartial" href="javascript:void(0)" name="" title="Menu portail">
            <fa-icon class="next-icon" [icon]="faList"></fa-icon>
        </a>
        </div>
        <h1>
            <a href="/Web.Mvc.PlanDeSoins/PA/1"><span>Dossier de soins</span></a><sup>Next Santé</sup>
        </h1>
    </div>
</div>