:host {
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-height: 20px;
        font-weight: normal;
        line-height: 20px;
        // width: 120px !important;
    }

    button:not(:last-child) {
        margin-right: 10px;
    }

    button:focus {
        box-shadow: none;
    }
}