<input type="text" [value]="inputVal" [placeholder]="placeholderValue">
<button class="buttonClick" (click)="openPopin()">
    <fa-icon class="next-icon" [icon]="faEdit"></fa-icon>
</button>
<next-popin-base *ngIf="showPopin" (closePopin)="closePopin()" (closePopinWithValue)="closePopinWithValue($event)" [title]='titleHeader'>
<h1>{{title}}</h1>
<div class="containeDatepicker">
    <next-calendar (changeDate)="date($event)"></next-calendar>
    <div>
        <div class="clavierTactileHoraireSimple">
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="08:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="10:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="12:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="14:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="16:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="18:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="20:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="22:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
            <popin-button (click)="selectFinalHoraire($event)" type="btn-secondary" value="00:00" type="next-btn next-btn-secondary" widthBtn="140px"></popin-button>
        </div>
        <div class="horaireSimpleSelect" (click)="selectHoraire()">
            <next-checkbox [isChecked]="check" [isCliquable]="click"></next-checkbox>
            <next-input-number [maxValue]="maxValueHour" [minValue]="minValueHourMinute" (changeVal)="selectHeure($event)"></next-input-number>
            <span> : </span>
            <next-input-number [maxValue]="maxValueMinute" [minValue]="minValueHourMinute" (changeVal)="selectMinute($event)"></next-input-number>
            <input type="text" class="inputHour" value={{heure}} (change)="selectHeure($event)">
            
            <input type="text" class="inputMin" value={{minute}} (change)="selectMinute($event)">
        </div>
    </div>
</div>

</next-popin-base>