<next-popin-base>
        <h1></h1>
        <div class="clavierTactileSimple">
            <div class="line row1">
                <p class="saisieType">Saisie tactile</p>
            </div>
            <div class="line row2">
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="7"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="8"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="9"></popin-button>
            </div>
            <div class="line row3">
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="4"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="5"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="6"></popin-button>
            </div>
            <div class="line row4">
                <popin-button (click)="selectNumber($event)" type="btn btn-primary" value="1"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="2"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="3"></popin-button>
            </div>
            <div class="line row5">
                <popin-button (click)="selectNumber($event)" type="btn-primary" value=","></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value="0"></popin-button>
                <popin-button (click)="selectNumber($event)" type="btn-primary" value=""></popin-button>
            </div>
        </div>
</next-popin-base>