<nav id="menu" role="menu" [class.fixed-menu]="menuOpen" (click)="onClickMenu()">
    <ul>
        <li class="menu-header" title="Ouvrir / Fermer le menu">
            <fa-icon class="next-icon" [icon]="faList"></fa-icon>
            <span class="next-icon next-icon-ouvrir-menu" data-pin="false" title="Ouvrir / Fermer le menu"></span>
            <label>Menu</label>
        </li>
        <li *ngFor="let parent of menuParents" class="menu-parent">
            <app-menu-parent [menuItems]="parent.items"></app-menu-parent>
        </li>    
    </ul>
</nav>