kendo-calendar {
    background-color: red;
    ::ng-deep .k-calendar-tbody {
        background-color: pink;
    }
    ::ng-deep tbody {
        background-color: blue;
        tr {
            background-color: green;
            td {
                background-color: yellow
            }
        }
    }
}