<div class="flex-basis-none flex-grow-1 overflow">
  <div class="liste-ctn">
    <div class="regroup" *ngFor="let category of listCategories">
      <p>{{category.categoryName}}</p>
      <app-element-from-list (openPopup)="displayPopup()" *ngFor="let element of category.elements" [element]="element"
        [borderColor]="getBorderColor(element.type)" [titleBtnUpdate]="titleBtnUpdate"
        [titleBtnDelete]="titleBtnDelete">
      </app-element-from-list>
    </div>
  </div>
</div>
<app-next-popup-simple (confirmCallbackEvent)="confirmPopup()" [subjectOpen$]="changingValue">
  <ng-container *ngFor="let item of matchingColors; let i = index">
    La couleur <span class="color-tile" [ngStyle]="{'background-color': item.color}"></span>
    correspond à un type non renseigné<br *ngIf="i !== matchingColors.length - 1">
  </ng-container>
</app-next-popup-simple>
