<div class="user-data">
    <div id="user-data-menu">
        <nav id="menuTenant">
            <ul>
                <li class="menu-item">
                    <a href="/Web.Mvc.PlanDeSoins/PA/Etablissements?redirectAction=Index&amp;redirectController=PlanDeCharge&amp;applicationName=DossierSoins&amp;readUserPrefs=False&amp;writeUserPrefs=True"
                        title="Code et nom de l'établissement" data-confirm="">
                        <span class="next-icon next-icon-precedent"></span>
                        CLINIQUE DU CHENE
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Web.Mvc.PlanDeSoins/account/PickTenant" title="PA" data-confirm="">
                        <span class="next-icon next-icon-precedent"></span>
                        PA
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Web.Mvc.PlanDeSoins/PA/1/Home/RedirectToParametrage" title="Paramètres" data-confirm="">
                        <span class="next-icon next-icon-preferences-utilisateur"></span>
                        Paramètres
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Web.Mvc.PlanDeSoins/PA/1/Home/RechargementDroits"
                        title="Forcer le rafraichissement des droits utilisateurs" data-confirm="">
                        <span class="next-icon next-icon-import-export"></span>
                        Rafraichir les droits
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Web.Mvc.PlanDeSoins/PA/1/Home/PurgeDroits"
                        title="Forcer le rafraichissement des droits de toutes les applications pour tous les utilisateurs"
                        data-confirm="">
                        <span class="next-icon next-icon-import-export"></span>
                        Purger les droits
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Web.Mvc.PlanDeSoins/account/ManageAccount" title="Changer le mot de passe"
                        data-confirm="">
                        <span class="next-icon next-icon-preferences-utilisateur"></span>
                        Changer le mot de passe
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <div id="user-data-header">
        <div class="icon"><a href="#" id="tenant" name="tenant" title="Ouvrir / Fermer le menu d'authentification"><span
                    class="next-icon next-icon-menu"></span></a></div>
        <div class="content flex-row">
            <div class="flex-grow-1">
                <span>Dr ANDRE, Pascal</span>
                <span>CLINIQUE DU CHENE</span>
            </div>
        </div>
    </div>
</div>