button {
    width: 45px;
    height: 45px;
    margin: 2px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex
}