<div class="form-group row">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label ellipsis"
        for="Allergie_AllergieLibelle">Libellé</label>
    <div class="col-lg-9 col-md-3 col-sm-9" >
        <span id="allergieLibelle" data-type="Médicament"><span>Médicament</span> : ACTIMINCYL
            BIO barre hyperprotéinée caramel</span>
    </div>
</div>

<div class="form-group row">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label ellipsis"
        for="Allergie_AllergieHypersensibilite">Type</label>
    <div class=" col-lg-9 col-md-3 col-sm-9 radio-button-container">
       <app-btns-as-radio [btns]="[{
        'label': 'Aucune',
        'selected': true
       },
       {
        'label': 'Allergie',
        'selected': false
       },
       {
        'label': 'Hypersensibilité',
        'selected': false
       }]" ></app-btns-as-radio>
    </div>
</div>

<div class="form-group row">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label ellipsis"
        for="Allergie_DateDebut">Date de début</label>
    <div class="col-lg-9 col-md-3 col-sm-9 date-picker-ctn">
        <kendo-datetimepicker format="dd/MM/yyyy HH:mm" [value]="dateValue"></kendo-datetimepicker>
    </div>
</div>

<div class="form-group row">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"
        for="Allergie_CodeCim10">Réaction</label>
    <div class="col-lg-9 col-md-3 col-sm-9 p-top">
        <span id="codeCim10string">Aucun</span>
        <button id="btnDeleteCodeCim10" type="button" class="btn btn-secondary check"
            style="display:none"><span class="next-icon next-icon-supprimer"></span></button>
    </div>
</div>

<div class="form-group row">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"
        for="Allergie_Commentaire">Commentaire</label>
    <div class="col-lg-9 col-md-3 col-sm-9">
        <textarea class="k-textbox" cols="20" id="Allergie_Commentaire" maxlength="254"
            name="Allergie.Commentaire" placeholder="Laisser un commentaire" rows="4"
            style="width : 100%; height : 100%; resize: none"></textarea>
        <span class="k-invalid-msg" data-for="Libelle"></span>
    </div>
</div>

<div class="form-group row">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"
        for="Allergie_UtilisateurModification" style="padding-top:0px">Modifié par</label>
    <div class="col-lg-9 col-md-3 col-sm-9">
        Dr ANDRE, Pascal
    </div>
</div>