:host {
	display: block;
}

textarea {
	padding: 10px;
	border-color: var(--secondary-color);
}

textarea::placeholder {
	font-style: italic;
}

.label-type {
	font-weight: bold;
}

.p-top {
	padding-top: 7px;
}

.date-picker-ctn {
	>kendo-datetimepicker {
		width: 150px;

		>input {
			width: calc(100% - 33px);
		}

	}

	>kendo-datetimepicker>button {
		width: 33px;
		background-color: blue;
	}

	kendo-dateinput {
		width: calc(100% - 33px);
	}
}

.cim-10>div {
	height: 40px;
}

#btnDeleteCodeCim10 {
	height: 33.65px;
	width: 33.65px;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	box-shadow: none !important;
}

#codeCim10string {
	text-decoration: underline;
	margin-right: 20px;
	cursor: pointer;
}

::ng-deep {
	.panel-body-filters {
		> div:first-of-type {
			padding: 0px 2.5px;
		}
	}

	.push-btn-ctn {
		margin: 0 2.5px;
		padding: 0px;

		> button:first-of-type {
			margin-right: 5px;
		}
	}

	.btn.push {
		width: 100px;
		text-align: center;
		box-shadow: none;;
	}

	.dd-ctn {
		margin: auto 2.5px;
	}
}