<header>
    <div class="top">
        <app-header-app-name></app-header-app-name>
        <app-header-icon [url]="" [idString]="" title="Accès à l'aide" [icone]="" [confirm]="true" [display]="true"></app-header-icon>
        <app-header-icon [url]="" idString="buttonNavigation" title="Accès à la navigation" [icone]="" [display]="false"></app-header-icon>
        <app-header-title></app-header-title>
        <app-header-icon [url]="" idString="buttonFavori" title="Accès à mes favoris" [icone]="" [display]="true" othersClass="alert-notif"></app-header-icon>
        <app-header-icon [url]="" idString="buttonNavigation" title="Accès à mes alertes" [icone]="" [display]="false"></app-header-icon>
        <app-header-user-data></app-header-user-data>
    </div>
    <div class="bottom">
        <ol class="breadcrumb"></ol>
    </div>
</header>