<app-panel idString="allergPanelId" panelTitle="Allergies / Pathologies">
	<app-panel-actions slot="panel-heading">
		<button id="btnAjouter" class="btn"><span class="next-icon next-icon-ajout"></span>Médicamenteuse</button>
		<button id="btnAjouterAlim" class="btn"><span class="next-icon next-icon-ajout"></span>Alimentaire</button>
		<button id="btnAjouterEnv" class="btn"><span class="next-icon next-icon-ajout"></span>Environnementale</button>
	</app-panel-actions>
	<app-sliding-panel width="50%" slot="panel-body">
		<app-update-allergie sp-content></app-update-allergie>
		<app-cancel-sliding-button sp-actions-left></app-cancel-sliding-button>
		<button sp-actions-right class="btn" type="button" id="btnEnregistrer"><span
				class="next-icon next-icon-sauvegarder"></span>Enregistrer</button>
	</app-sliding-panel>
	<app-panel-body-filters slot="panel-body">
		<div class="row flex-align-items-center">
			<div id="filter-input" class="col-md-6 col-lg-6 col-sm-6">
				<input class="k-textbox" type="text" name="filter-input" value="" placeholder="Recherche ..."
					autofocus="" autocomplete="off">
			</div>
			<div class="col-md-3 col-lg-3 col-sm-3">
				<app-dropdown [dropdownOptions]="dropdownStatus" [selected]="dropdownStatus[0].label"
					(onSelect)="onSelectStatus($event)" (onChange)="onChangeStatus($event)"></app-dropdown>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-3">
				<app-dropdown [dropdownOptions]="dropdownTypes" [selected]="dropdownTypes[0].label"></app-dropdown>
			</div>
		</div>
	</app-panel-body-filters>
	<mat-tab-group slot="panel-body" animationDuration="0ms">
		<mat-tab label="Allergies">
			<app-list-allergies titleBtnDelete="Supprimer l'allergie" titleBtnUpdate="Modifier l'allergie">
			</app-list-allergies>
		</mat-tab>
		<mat-tab label="Antécédents">
			<app-list-of-pokemon></app-list-of-pokemon>
		</mat-tab>
	</mat-tab-group>
</app-panel>