<div class="flex-basis-none flex-grow-1 overflow">
  <div class="liste-ctn">
    <div class="regroup" *ngFor="let category of listCategories">
      <p>{{category.categoryName}}</p>
      <app-allergie-line *ngFor="let element of category.elements" [element]="element"
        [borderColor]="getBorderColor(element.type)" [otherBtn]="category.modifierDroits">
      </app-allergie-line>
    </div>
  </div>
</div>
<app-next-popup (confirmCallbackEvent)="confirmPopup($event)" [subjectOpen$]="changingValue" [prompt]="true"
  promptValue="test">
  <ng-container *ngFor="let item of matchingColors; let i = index">
    La couleur <span class="color-tile" [ngStyle]="{'background-color': item.color}"></span>
    correspond à {{item.text}}<br *ngIf="i !== matchingColors.length - 1">
  </ng-container>
</app-next-popup>
